<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyFavoriteQuotes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MyFavoriteQuotes.Properties.Settings>
            <setting name="WindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastLanguageUsed" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="LanguageFileName" serializeAs="String">
                <value>Translations.xml</value>
            </setting>
            <setting name="LastTabUsed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxEmptyEN" serializeAs="String">
                <value>The quote cannot be empty</value>
            </setting>
            <setting name="TextBoxEmptyFr" serializeAs="String">
                <value>Il n'y a pas de citation</value>
            </setting>
            <setting name="QuoteFileName" serializeAs="String">
                <value>Quotes.xml</value>
            </setting>
            <setting name="textBoxSearchEn" serializeAs="String">
                <value>The search box cannot be empty</value>
            </setting>
            <setting name="textBoxSearchFr" serializeAs="String">
                <value>La recherche ne peut pas être vide</value>
            </setting>
            <setting name="SearchEmptyEn" serializeAs="String">
                <value>Empty search</value>
            </setting>
            <setting name="SearchEmptyFr" serializeAs="String">
                <value>Recherche vide</value>
            </setting>
            <setting name="SearchCaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textBoxSearch" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBoxSearchAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxSearchAuthor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxSearchQuote" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxLanguageAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxLanguageEnglish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxLanguageFrench" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBoxAdddisplayAfterAdding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnknownAuthor" serializeAs="String">
                <value>unknown author</value>
            </setting>
        </MyFavoriteQuotes.Properties.Settings>
    </userSettings>
</configuration>
